/* CSS declarations go here */
html {
  height: 100%;
}

body {
  padding-top: 70px;
  height:100%;
}

#wrapper {
  min-height: 100%;
  position: relative;
}

#app-root {
  padding-bottom: 80px; /* footer heigt */
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: #f5f5f5;
}

.container .text-muted {
  margin: 10px 0;
}

#profile-cover {
  height: 250px;
  position: relative;
}

#profile-cover-name {
  position: absolute;
  bottom: 10px;
}

#new-post textarea {
  resize: none;
}

#new-post button[type="submit"] {
  float: right;
  background-color: #101010;
  color: #9d9d9d;
}

#new-post button[type="submit"]:hover {
  color: #ffffff;
}

#user-posts .panel .panel-body {
  padding: 10px;
}

#user-posts .panel .panel-body hr {
  margin: 10px 0px;
}

.post-text {
  white-space: pre-line;
}