<template name="Users_profile">
  <div id="profile-cover" class="jumbotron">
    <div id="profile-cover-name">
      <h2>
        {{user.profile.firstName}} {{user.profile.lastName}}
      </h2>
      <h3>
        {{user.profile.alias}}
      </h3>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>Friends <small>&sdot; 0</small></h4>
        </div>
        <div class="panel-body">
          Your friends list.
        </div>
      </div>
    </div>

    <div class="col-md-8">
        {{#if currentUser}}
          {{> Insert_post}}
        {{/if}}

      <div id="user-posts">
        {{#each post in posts}}
          {{> Post_item post}}
        {{/each}}
      </div>
    </div>
  </div>
</template>